{% extends "base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}

<!-- Made my Dakota -->
{% if current_user.user_type == 'Teacher' %}

<h1>{{current_user.firstname}}'s Profile </h1>

<div class="border rounded-3 bg-light p-3">
    <b> Username: {{ current_user.username }}</b>
    <br>
    <br>

    <b>Name:</b>
    {% if current_user.firstname %}
        {{ current_user.firstname }}
    {% endif %}
    {% if current_user.lastname %}
        {{ current_user.lastname }}
    {% endif %}
    <br>
    <br>

    <b>Email:</b>
    {% if current_user.email %}
        {{ current_user.email }}
    {% endif %}
    <br>
    <br>

    <b>WPI ID:</b>
    {% if current_user.wpi_id %}
        {{ current_user.wpi_id }}
    {% endif %}
    <br> 
    <br>
    
    <b>Phone:</b>
        {% if current_user.phone %}
            {{ current_user.phone }}
        {% endif %}
    <br>
    <br>
   
</div>



{% endif %} <!-- End of current_user section -->

{% endblock %}